FROM                {{ data.image_name }}:{{ data.image_tag }}
MAINTAINER          Dmitrii M
                    {%- for label in data.labels %}
LABEL               {{ label }}  {{ data.labels[label] }}
                    {%- endfor %}

ENV                 WORKDIR ${WORKDIR:-/cs}
WORKDIR             ${WORKDIR}
RUN                 adduser -u 1001 -D dmitrii
USER                dmitrii
# ENTRYPOINT          [ "/bin/bash" ]
CMD                 [ "uname -a" ]

