FROM                {{ docker.image_name }}:{{ docker.image_tag }}
MAINTAINER          Dmitrii M
                    {%- for label in docker.labels %}
LABEL               {{ label }}  {{ docker.labels[label] }}
                    {%- endfor %}

ENV                 WORKDIR ${WORKDIR:-/cs}
WORKDIR             ${WORKDIR}
RUN                 adduser -u 1001 -D dmitrii
USER                dmitrii
# ENTRYPOINT          [ "/bin/bash" ]
CMD                 [ "uname -a" ]

